html, body {
  height: 100%;
  width: 100%;
  background: #122139;
  overflow: hidden;
  padding: 0;
  margin: 0; }

/* line 10, ../../../../Documents/rose/#source/scss/style.scss */
.container {
  width: 100px;
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: scale(0.6);
  transform: scale(0.6); }

/* line 24, ../../../../Documents/rose/#source/scss/style.scss */
.container div {
  position: absolute; }

/* line 27, ../../../../Documents/rose/#source/scss/style.scss */
.container .glass {
  height: 420px;
  width: 250px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 300px 300px 0px 0px;
  left: -80px;
  top: -100px;
  border-bottom: 15px solid rgba(255, 255, 255, 0.5); }

/* line 38, ../../../../Documents/rose/#source/scss/style.scss */
.container .glass:after {
  width: 8px;
  background: rgba(255, 255, 255, 0.28);
  content: '';
  position: absolute;
  height: 80px;
  top: 430px;
  border-radius: 100px;
  left: 10px;
  top: 180px; }

/* line 49, ../../../../Documents/rose/#source/scss/style.scss */
.container .glass:before {
  width: 8px;
  background: rgba(255, 255, 255, 0.28);
  content: '';
  position: absolute;
  height: 15px;
  top: 0px;
  border-radius: 100px;
  left: 10px;
  top: 280px; }

/* line 60, ../../../../Documents/rose/#source/scss/style.scss */
.container .glow {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  border: 1px solid rgba(245, 148, 184, 0.47);
  -webkit-box-shadow: 0px 0px 10px #f594b8;
          box-shadow: 0px 0px 10px #f594b8;
  left: -40px;
  top: -40px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-animation: glowing 2.5s ease-in-out infinite;
  animation: glowing 2.5s ease-in-out infinite; }

/* line 79, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div {
  background: #d52d58;
  width: 45px;
  height: 80px;
  position: absolute;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

/* line 89, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(1) {
  border-radius: 15px;
  left: 20px;
  top: -6px;
  background: #d52d58; }

/* line 95, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(2), .container .rose-petals > div:nth-child(4), .container .rose-petals > div:nth-child(6) {
  border-radius: 0px 30px 0px 30px;
  background: #b81b43;
  left: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right; }

/* line 101, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(3), .container .rose-petals > div:nth-child(5), .container .rose-petals > div:nth-child(7) {
  border-radius: 30px 0px 30px 0px;
  left: 40px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left; }

/* line 106, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(2) {
  -webkit-animation: openRose2 3s ease-in-out;
  animation: openRose2 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 5;
  background: #9e183a;
  top: 10px;
  height: 70px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 121, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(3) {
  -webkit-animation: openRose3 3s ease-in-out;
  animation: openRose3 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 4;
  background: #9e183a;
  top: 10px;
  height: 70px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 136, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(4) {
  -webkit-animation: openRose4 3s ease-in-out;
  animation: openRose4 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 3;
  background: #b81b43;
  top: 5px;
  height: 75px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 151, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(5) {
  -webkit-animation: openRose5 3s ease-in-out;
  animation: openRose5 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 2;
  background: #b81b43;
  top: 5px;
  height: 75px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 166, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(6) {
  -webkit-animation: openRose6 3s ease-in-out;
  animation: openRose6 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 1;
  background: #c9204b;
  top: "";
  height: "";
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 181, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-petals > div:nth-child(7) {
  -webkit-animation: openRose7 3s ease-in-out;
  animation: openRose7 3s ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  z-index: 0;
  background: #c9204b;
  top: "";
  height: "";
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 196, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-leaves > div:nth-last-child(1) {
  width: 55px;
  height: 30px;
  background: #338f37;
  position: absolute;
  top: 60px;
  left: 15px;
  border-radius: 100px; }

/* line 207, ../../../../Documents/rose/#source/scss/style.scss */
.container .rose-leaves > div:nth-child(1) {
  width: 6px;
  height: 230px;
  border: none;
  top: 80px;
  background: #066406;
  left: 40px; }

/* line 215, ../../../../Documents/rose/#source/scss/style.scss */
.container .thorns > div {
  width: 30px;
  height: 30px;
  background: #066406;
  top: 100px;
  left: 10px; }

/* line 222, ../../../../Documents/rose/#source/scss/style.scss */
.container .thorns > div:after {
  width: 41px;
  height: 31px;
  border-radius: 100%;
  background: #122139;
  content: "";
  position: absolute;
  left: -12px;
  top: 17px; }

/* line 235, ../../../../Documents/rose/#source/scss/style.scss */
.container .thorns > div:before {
  width: 41px;
  height: 31px;
  border-radius: 100%;
  background: #122139;
  content: "";
  position: absolute;
  left: -11px;
  top: -11px;
  z-index: 0; }

/* line 248, ../../../../Documents/rose/#source/scss/style.scss */
.container .thorns > div:nth-child(2) {
  top: 150px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 45px; }

/* line 256, ../../../../Documents/rose/#source/scss/style.scss */
.container .thorns > div:nth-child(3) {
  top: 180px; }

/* line 259, ../../../../Documents/rose/#source/scss/style.scss */
.container .thorns > div:nth-child(4) {
  top: 220px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  left: 45px; }

/* line 267, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles {
  bottom: -40px; }

/* line 270, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div {
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background: #ff96c0;
  -webkit-box-shadow: 0px 0px 12px 2px #ff4e85;
          box-shadow: 0px 0px 12px 2px #ff4e85;
  bottom: 0;
  opacity: 0;
  -webkit-animation: sparkle 4s ease-in-out infinite;
  animation: sparkle 4s ease-in-out infinite; }

/* line 282, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(1) {
  left: 60px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/* line 288, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(2) {
  left: 158px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 294, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(3) {
  left: -22px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/* line 300, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(4) {
  left: 10px;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

/* line 306, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(5) {
  left: 177px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/* line 312, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(6) {
  left: -82px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

/* line 318, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(7) {
  left: 45px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/* line 324, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(8) {
  left: 74px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s; }

/* line 330, ../../../../Documents/rose/#source/scss/style.scss */
.container .sparkles > div:nth-child(9) {
  left: -79px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

@-webkit-keyframes animationName {
  50% {
    opacity: 1; }
  100% {
    bottom: 250px; } }

@-webkit-keyframes sparkle {
  50% {
    opacity: 1; }
  100% {
    bottom: 250px; } }

@keyframes sparkle {
  50% {
    opacity: 1; }
  100% {
    bottom: 250px; } }

@-webkit-keyframes animationName {
  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px; }
  100% {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px; } }

@-webkit-keyframes openRose2 {
  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px; }
  100% {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px; } }

@keyframes openRose2 {
  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    top: 80px;
    left: 100px; }
  100% {
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
    top: 210px;
    left: -30px; } }

@-webkit-keyframes animationName {
  100% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@-webkit-keyframes openRose3 {
  100% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@keyframes openRose3 {
  100% {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); } }

@-webkit-keyframes animationName {
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); } }

@-webkit-keyframes openRose4 {
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); } }

@keyframes openRose4 {
  100% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); } }

@-webkit-keyframes animationName {
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); } }

@-webkit-keyframes openRose5 {
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); } }

@keyframes openRose5 {
  100% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); } }

@-webkit-keyframes animationName {
  50% {
    -webkit-box-shadow: 0px 0px 60px #f594b8;
            box-shadow: 0px 0px 60px #f594b8; } }

@-webkit-keyframes glowing {
  50% {
    -webkit-box-shadow: 0px 0px 60px #f594b8;
            box-shadow: 0px 0px 60px #f594b8; } }

@keyframes glowing {
  50% {
    -webkit-box-shadow: 0px 0px 60px #f594b8;
            box-shadow: 0px 0px 60px #f594b8; } }

/* line 558, ../../../../Documents/rose/#source/scss/style.scss */
.text {
  text-align: center;
  color: #c9204b;
  margin: 10px; }

/* line 563, ../../../../Documents/rose/#source/scss/style.scss */
.icon {
  text-align: center; }

/* line 567, ../../../../Documents/rose/#source/scss/style.scss */
img {
  width: 160px; }
